In [ ]:
import pymongo
import pandas as pd
import requests

### Connecting to the mongodb database

In [ ]:
client = pymongo.MongoClient("mongodb+srv://indianspeedster:iLhGAcO21DRHTyt1@cluster0.ikmbwgh.mongodb.net/?retryWrites=true&w=majority")
db = client['mydatabase']
collection = db['author_books']

### Reading the data from csv

In [ ]:
book_df = pd.read_csv("/content/books.csv")

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1.0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.780000e+12,eng,652.0,2095690.0,27591.0,9/16/2006,Scholastic Inc.
1,2.0,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.780000e+12,eng,870.0,2153167.0,29221.0,9/1/2004,Scholastic Inc.
2,4.0,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.780000e+12,eng,352.0,6333.0,244.0,11/1/2003,Scholastic
3,5.0,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.780000e+12,eng,435.0,2339585.0,36325.0,5/1/2004,Scholastic Inc.
4,8.0,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.780000e+12,eng,2690.0,41428.0,164.0,9/13/2004,Scholastic

### Cleaning the data

In [ ]:
book_df.dropna(inplace=True)
book_df.publication_date = pd.to_datetime(book_df.publication_date,format="%m/%d/%Y", errors="coerce")
book_df.publication_date = book_df.publication_date.dt.strftime("%F")
book_df['title'] = book_df['title'].astype(str)
book_df['bookID'] = book_df['bookID'].astype(int)
book_df['publisher'] = book_df['publisher'].astype(str)
book_df['authors'] = book_df['authors'].astype(str)
book_df['authors'] = book_df['authors'].apply(lambda x: x.split("/"))

### Exploding the data to make it author centric and every columns contain a single author

In [ ]:
new_df = book_df.explode(["authors"])

### Inserting all the data into the db

In [ ]:
data_dict = new_df.to_dict('records')
collection.insert_many(data_dict)

## Given 3 authors:
- JK Rowling
- Stephen King
- Gabriel Garcia Marquez

We will try to fetch the key for all these three authors from the open library api.

In [ ]:
author_list = ["JK Rowling", "Stephen King", "Gabriel Garcia Marquez"]
author_names = ["J.K. Rowling", "Stephen King", "Gabriel García Márquez"]
key_list = []

for authors in author_list:
  split_name = authors.split()
  name = "%20".join(split_name)
  url = f'https://openlibrary.org/search/authors.json?q={name}'
  response = requests.get(url)
  key_list.append(response.json()["docs"][0]['key'])

### Now we have the key list for all the three users, the next step will be to fetch the bio of all the authors and insert them into our db

In [ ]:

for i in range(len(key_list)):
  url = f"https://openlibrary.org/authors/{key_list[i]}.json"
  response = requests.get(url)
  data = response.json()
  book_ids = data["source_records"]
  amazon_id = [i_d[7:] for i_d in book_ids if i_d[:7]=="amazon:"]
  amazon_link = [f'https://www.amazon.com/dp/{ids}' for ids in amazon_id]
  author_name = author_names[i]
  bio = data["bio"]
  query = {"authors": author_name}
  update = {"$set": {"bio":bio,"amazon_id":amazon_id,"book_link":amazon_link}}
  result = collection.update_many(query, update)
  print(result.modified_count)

25
99
37

# Creating the Flask Server

In [ ]:
from flask import Flask, render_template
import pymongo


app = Flask(__name__)
app.jinja_env.globals.update(len=len)
# Setup MongoDB
client = pymongo.MongoClient("mongodb+srv://indianspeedster:iLhGAcO21DRHTyt1@cluster0.ikmbwgh.mongodb.net/?retryWrites=true&w=majority")
db = client.mydatabase

@app.route("/")
def home():
    return render_template("home.html")

@app.route("/<name>", methods=['GET'])
def author(name):

    # Reference to Books Collection in the DB
    books = db.author_books

    bookList = []
    bio = ""
    links = []
    for book in books.find():
        if (name in book['authors']):
            bookList.append(book['title'])
            bio = book['bio']
            links = book['book_link']

    return render_template("author.html", name=name, books=bookList, bio= bio, links= links)

In [ ]:
if __name__ == "__main__":
    app.run(port=5001)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5001/ (Press CTRL+C to quit)